@tailwind base;
@tailwind components;
@tailwind utilities;

.lobster {
  font-family: "Lobster", sans-serif;
}

.protest-strike {
  font-family: "Protest Strike", sans-serif;
}
.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
  }
